# data get
#pip
#mecab_python-0.996_ko_0.9.2_msvc-cp37-cp37m-win_amd64.whl

pandas
#eunjeon
tqdm

# Ai
tensorflow==2.4.1
keras==2.4.0
transformers==3.0.0
#seqeval
#sklearn_crfsuite
kobert-transformers

# DB
pymysql
openpyxl
cryptography
sqlalchemy